.main-navigation ul.menu li {
    position: relative;
}

#menu-main-menu .dropdown-menu {
    position: absolute;
    padding: 30px 9px;
    left: -25px;
    width: 170px;
    text-transform: uppercase;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
    border: none;

    li {
        margin: 15px 0px;

        a:after {}
    }
}

.main-navigation ul.menu li a {
    position: relative;



    &.dropdown-toggle:after {
        border-top: 1px solid !important;
    }
}

.main-navigation ul.menu>li:hover>a:after {
    width: 100%;
    opacity: 1;
}

.main-navigation ul.menu>li>a:after {
    position: absolute;
    display: block !important;
    content: '';
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #000;
}
.main-navigation .navbar-collapse{
    @include min768_max1200 {
        ul{
            margin-top:25px;
        }
    }
   
}
.main-navigation .container{
    margin:40px auto;
    @include max768{ 
        &{
            max-width: 92%;
          
           
        }
    }
    .navbar-brand img{
       margin-left:0px; 
    }

}

#menu-main-menu .account-menu{
    display: none;
    @include max768{
        &{
           display: block;
        }
    }

}
#menu-main-sidebar {
    a::after{
        display: none;
      }
    a.dropdown-toggle {
        padding-right:20px;
        i{
            float: right;
         }
    }
  
}
