.main-navigation ul.menu li {
    position: relative;
}

.main-navigation {
 
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    max-width: 100%;
    justify-content: center;
    background: transparent;
    transition: all .3s;
    z-index: 99;

    .offcanvas-header.main-navigation{
    position:relative;

    }
    // @include max768 {
    //     &{
    //         padding: 0px 20px; 
    //     }
    // }

    &.sticky {
        position: fixed;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
        padding:  20px 130px;
        z-index: 99999;
        @include  max768{
            padding: 6px 80px;   
        }
        @include  max600{
            padding:0px;   
        }
        @include  min768_max1350{
            &{
                .navbar-brand, .icon-list{
                    display: none;
                }
            }
        }
    }
}

#menu-main-menu .dropdown-menu {
    position: absolute;
    padding: 30px 9px;
    left: -25px;
    width: 170px;
    text-transform: uppercase;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
    border: none;

    li {
        margin: 15px 0px;

        a:after {}
    }
}

.main-navigation ul.menu li a {
    position: relative;



    &.dropdown-toggle:after {
        border-top: 1px solid !important;
    }
}

.main-navigation ul.menu>li:hover>a:after {
    width: 100%;
    opacity: 1;
}

.main-navigation ul.menu>li>a:after {
    position: absolute;
    display: block !important;
    content: '';
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #000;
}




.main-navigation .container {
    margin: 40px auto;


    @include max1000 {
        & {
            width: 100%  !important;;
            margin:0px;
            max-width: 100%;


        }
    }

    .navbar-brand img {
        margin-left: 0px;
    }

}

#menu-main-menu .account-menu {
    display: none;

    @include max768 {
        & {
            display: block;
        }
    }

}

#menu-main-sidebar {
    a::after {
        display: none;
    }

    a.dropdown-toggle {
        padding-right: 20px;

        i {
            float: right;
        }
    }

}