@import '../../../abstracts/mixins';

#sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;

}

#sidebar .widget-area {
    position:relative;
    margin-top: -100px;
    background: white;
    opacity: 1;
    height: auto;
    width: 100%;
    max-width: 640px;
    padding-top: 0px;
    min-height: 300px;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 0px 25px;
    @include max768{
        &{
            margin: 0px 30px;
        }
    }

    & a.search-close {
        position: absolute;
        top: 8px;
        right: 20px;
        font-size: 23px;
        color: black;
    }
    

    form {
        max-width: 490px;
        width: 100%;

        input {
            padding-left: 35px;
            height: 50px;
            font-size: 1.6rem;
        }

        input:focus {
            outline: none;
            box-shadow: none;
        }


        label {
            display: none;
        }

        button[type='submit'] {
            @include hover-shadow($green, $green, white);
            color: #fff;
            background: #000;
            height: 100%;
            font-weight: 500;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: .6px;
            display: inline-block;
            width: 100px;
            height: 50px;
        }
    }
}

.wp-block-search__inside-wrapper::before {
    background-image: url(../img/search.svg);
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-size: cover;
    left: 7px;
    position: absolute;
    top: 11px;
}

.wp-block-search__inside-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    @include max600{
        &{
        display: flex;
        flex-direction: column;
        input{
            width:100%;
        }
        button{
            max-width: 200px;
            width: 100%;
            margin-top: 20px;
        }
        }
        }
}
