
.theme-luxury div.main-button a.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern{
  border-radius: 0px;
    min-width: 241px;
    display: flex;
    width:100%;
    height: 45px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: black;
    border: 1px solid black;
    font-weight: 700;
    background: transparent;
   
}

