@mixin hover-shadow($shadow-color: $color, $border-color: $bcolor, $font-color: $fcolor) {
    border: 1px solid $border-color;
    color: black;
    box-shadow: inset 0 0 0 0 $shadow-color;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-size: 14px;
    font-weight: 500;


    &:hover {
        box-shadow: inset 330px 0 0 0 $shadow-color;
        color: $font-color;
    }
}

//RWD mixins
@mixin min768_max1200 {
    @media(min-width:768px) and (max-width:1200px) {
        @content;
    }
}
@mixin min768_max1350{
    @media(min-width:768px) and (max-width:1350px) {
        @content;
    }
}
@mixin  min600_max856{
    @media(min-width:600px)  and (max-width:856px) {
        @content;
    }  
}

@mixin  min1200_max1500{
    @media(min-width:1200px)  and (max-width:1500px) {
        @content;
    }  
}
@mixin  min400_max768{
    @media(min-width:400px)  and (max-width:768px) {
        @content;
    }  
}
@mixin  min1200_max1500{
    @media(min-width:1200px)  and (max-width:1500px) {
        @content;
    }  
}

@mixin min574 {
    @media(min-width:574px) {
        @content;
    }
}

@mixin max1350 {
    @media(max-width:1350px) {
        @content;
    }
}
@mixin min1350 {
    @media(min-width:1350px) {
        @content;
    }
}

@mixin min1200 {
    @media(min-width:1200px) {
        @content;
    }
}
@mixin max1200 {
    @media(max-width:1200px) {
        @content;
    }
}

@mixin max768 {
    @media(max-width:768px) {
        @content;
    }
}

@mixin min768 {
    @media(min-width:768px) {
        @content;
    }
}
@mixin max1000 {
    @media(max-width:1000px) {
        @content;
    }
}

@mixin max500 {
    @media(max-width:500px) {
        @content;
    }
}
@mixin max600 {
    @media(max-width:600px) {
        @content;
    }
}
@mixin min600 {
    @media(min-width:600px) {
        @content;
    }
}

@mixin min992 {
    @media(min-width:992px) {
        @content;
    }
}


@mixin min856 {
    @media(min-width:856px) {
        @content;
    }
}

@mixin min1500 {
    @media(min-width:1500px) {
        @content;
    }
}
@mixin max1500 {
    @media(max-width:1500px) {
        @content;
    }
}
@mixin max1300 {
    @media(max-width:1300px) {
        @content;
    }
}



@mixin min1000 {
    @media(min-width:1000px) {
        @content;
    }
}
@mixin max1000 {
    @media(max-width:1000px) {
        @content;
    }
}
@mixin max400{
    @media(max-width:400px) {
        @content;
    }
}





